<!-- <div class="container row-cols-auto gy-3">
    <btsp-carousel>
        <btsp-carousel-item *ngFor="let image of images" [ImageSrc]="image">
            <ng-template #carouselTemplate>
                {{image}}
            </ng-template>
        </btsp-carousel-item>
    </btsp-carousel>
</div> -->

<btsp-table [tableTemplate]="tableTemplate">
    <btsp-col dataField="id" caption="Id" headerClass="text-secondary opacity-50" dataClass="glassom"></btsp-col>
    <btsp-col dataField="name" caption="Name" headerClass="text-secondary opacity-50" dataClass="glassom"></btsp-col>
    <btsp-col dataField="data" caption="Data" headerClass="text-secondary opacity-50" dataClass="glassom"></btsp-col>

</btsp-table>