<div *ngIf="carouselItems && carouselItems.length>0" [attr.id]="carousel.Id" class="carousel carousel-dark slide">
    <div *ngIf="carousel.Indicators" class="carousel-indicators">
        <ng-container *ngFor="let card of carouselItems;index as index">
            <button type="button" [attr.data-bs-target]="'#'+carousel.Id" [attr.data-bs-slide-to]="index"
                [ngClass]="index==0?'active':''" [attr.aria-current]="index==0"
                [attr.aria-label]="'Slide '+ index+1"></button>
        </ng-container>
    </div>
    <div class="carousel-inner">
        <ng-container *ngFor="let card of carouselItems;index as index">
            <ng-container *ngTemplateOutlet="item;context:{item:card, index:index}">
            </ng-container>
        </ng-container>
    </div>
    <button *ngIf="carousel.Buttons" class="carousel-control-prev" type="button" [attr.data-bs-target]="'#'+carousel.Id"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button *ngIf="carousel.Buttons" class="carousel-control-next" type="button" [attr.data-bs-target]="'#'+carousel.Id"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<ng-template #item let-item="item" let-index="index">
    <div class="carousel-item" [ngClass]="index==0?'active':''" data-bs-interval="10000">
        <img *ngIf="!carousel.OnlyContent && item.ImageSrc" [src]="item.ImageSrc" class="d-block w-100" alt="...">

        <div *ngIf="item.Header || item.Details" class="carousel-caption d-none d-md-block">
            <!-- <ng-container *ngTemplateOutlet="item.Template;"></ng-container> -->
            <h5 *ngIf="item.Header">{{item.Header}}</h5>
            <p *ngIf="item.Details">{{item.Details}}</p>

        </div>
        <ng-container *ngTemplateOutlet="item.Template"></ng-container>
    </div>
</ng-template>