:root {
  --primary-color: #fff;
  --primary-color-rgb: 250, 250, 250;
  --label-color: #01041b;
  --text-color: #222260;
  --baseColor: #e6e7ee;

  // --primary-color:#e0e0e0;
  --gray-color: #666;
  --red-color: red;
  --app-shadow: 11px 11px 39px #949494, -11px -11px 39px #ffffff;
  --button-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  --image-shadow: 11px 11px 22px #a4a4a4, -11px -11px 22px #ffffff;
  --track-shadow: 7px 7px 14px #b8b8b8, -5px -5px 14px #ffffff;
  --font-primary: "Poppins", sans-serif;
}

$card-width: 15rem;
$theme-color: var(--primary-color);
$theme-color-rgb: var(--primary-color-rgb);
$label-color: var(--label-color);
$text-color: var(--text-color);

$themes: (
  light: #fff,
  dark: #666,
  banana: #f1c40f,
  cherry: #c0392b,
  blueberry: #8e44ad,
  leaf: #27ae60,
  nightsky: #2980b9,
);

$appColors: (
  theme: $theme-color,
  text: $text-color,
  label: $label-color,
  "pink": #f56692,
);

$card-border-radius: 1rem;
$decimals: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0);

$colors: (
  white: #fff,
  blue: #00a1df,
  black: #313233,
  purple: #5a2a82,
  violet: #9a3cbb,
  lblue: #b2ebf2,
  royal-blue: #004987,
  green: #77bc1f,
  dark-green: #3e6310,
  green-yellow: #00b09a,
  yellow: yellow,
  lyellow: #ffd600,
  pink: #ea1d76,
  red: #e74c3c,
  red-deep: #c0392b,
  navy-blue: #34495e,
  orange: #e67e22,
  dark-grey: #808182,
  text: #312333,
  nav: #231f20,
  active: #313233,
  grey: #56585a,
  // rgba(49, 50, 51, 0.6),
  o-grey: rgba(49, 50, 51, 0.6),
  lightgrey: rgba(49, 50, 51, 0.35),
  greylight: rgba(49, 50, 51, 0.15),
  bright: #f7f9fa,
  header: #e6e7e8,
  offwhite: rgba(214, 222, 225, 0.2),
  offyellow: rgba(255, 214, 0, 0.1),
  lgrey: #d6dee1,
);
// boxed: lighten($color-background, 3%)

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
);

// $decimals:(.1, .2, .3, .4, .5, .6, .7, .8, .9, 0);
