.card {
  &:hover {
    .card-img {
      transition: 1s;
      opacity: 0.3 !important;
    }

    .card-img-overlay {
      transition: 1s;
      opacity: 1 !important;
    }
  }
}

@keyframes hoverOpacity {
}
